div.date {
	margin-bottom: 5px;
	font-size: 0.95em;
	color: #7f8c8d;
	position: initial;
}

div #related-item {
	position: initial;
}

span.unit {
	padding-top: 7px;
	display: inline-block;
}

span.ignore {
	color: #A9AFB0;
}