.menubar {
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid transparent;
	border-bottom-color: #e7e7e7;
	margin: 0;
}

.menubar ul {
	display: block;
	text-align: center;
}
.menubar li {
	display: inline-block;
}

.menubar .navbar-nav>.active>a,
.menubar .navbar-nav>.active>a:hover,
.menubar .navbar-nav>.active>a:focus,
.menubar .navbar-nav > li > a:hover 
 {
	background-color: #fff;
	color: #22BAA0;
}

.menubar a {
	font-size: 0.95em;
	margin: 0;
}

.menubar a .icon {
	margin-right: 0.4em;
	color: #7f8c8d;
}


