.seperator {
	float: left;
	font-weight: bold;
}

div.jobs {
	display: inline-block;
	min-width: 7em;
}

input.inline-width {
	max-width: 5em;
}

input.jobs-input {
	vertical-align: middle;
	margin-top: 0;
}

label.jobs-label {
	font-weight: normal;
}

label.jobs-label span {
	vertical-align: middle;

}

select.initial-width-control {
	width: initial;
}