@import 'nav';

html {
  overflow-y: scroll;
}

body {
  background: #eff3f8;
}

.container-main {
  padding-bottom: 30px;
}

.modal-open {
  padding-right: 0 !important;
}

.page-heading {
  .my-table-display {
    display: table;
    height: 60px;
    width: 100%;
  }
  .page-title {
    display: table-cell;
    vertical-align: middle;
  }
  .page-title h1 {
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    color: #697882;
  }
  .my-breadcrumb {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    .breadcrumb {
      background: transparent;
      margin: 0;
    }
  }
}

.my-fixed-pos-alert {
  position: fixed;
  padding: 10px 15px;
  opacity: 0.9;
  top: 60px;
  left: 50%;
  margin-left: -150px;
  z-index: 100;
  width: 300px;
  text-align: center;
}