.major-manage {
  .select2-container--default .select2-selection--single {
    height: initial;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: initial;
    padding-top: 7px;
    padding-bottom: 5px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10%;
  }
  input[type=submit].btn {
    min-width: 70px;
  }
  select.form-control {
    height: 30px;
  }
  .my-cancel-edit-btn{
    margin-left:10px;
  }
  .editing-row{
    background-color: #d9edf7 !important;
  }
}
.select2-container--default .select2-results>.select2-results__options{
  max-height: 300px;
}