.promotion-form {
  input[type=date].form-control {
    width: initial;
  }
  @import "input-threshold";
  #is_whole_system,#auto_thumbnail {
    position: initial;
  }
  input#image_file,input#thumbnail_file {
    margin-bottom: 12px;
  }
  input[type=submit].btn {
    min-width:80px;
  }
  select.form-control{
    height:34px;
  }
  .myHiddenInputGroup{
    display: none;
  }
  .popover{
    max-width: 100%;
  }

  .my-cancel-edit-btn {
    margin-left: 10px;
  }
}

#select2-targetsID-results.select2-results__options,#select2-itemsID-results.select2-results__options{
  max-height: 400px;
}