.promotion-form {
  input[type=date].form-control {
    width: initial;
  }
  input[type=number].form-control {
    width: initial;
  }
  @media (min-width: 768px) {
    .my-inline-control {
      display: initial;
    }
    .my-between-label {
      width: 20px;
      margin-right: 15px;
    }
    .my-inline-input-group {
      display: inline-table;
      input[type=number] {
        float: initial;
      }
    }
  }
  .my-inline-input-group .input-group-addon {
    width: initial;
  }
}